
<!----- //End-slider
-start-slide-bottom-->
			<div class="about-section">
				 <div class="container">

				     <div class="about-head">
							<h3>About Us</h3>
							<p>A Few words about us</p>
					 </div>
			<div class="row">
				      	<div class="col-xs-5 slide-about">

									<div class="side">
										 <div  id="top" class="callbacks_container">
												<div><ul class="rslides" id="slider4">
																		          								<li>	<img src="assets/s1.jpg" class="img-responsive" alt="" />
														</li>
														<li>
														<img src="assets/s2.jpg" class="img-responsive" alt="" />
														</li>
														<li>
		<img src="assets/s1.jpg" class="img-responsive" alt="" />
														</li>
													 </ul></div>
												</div>
											</div>
								<script src="js/responsiveslides.min.js"></script>
							 <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider4").responsiveSlides({
									auto: true,
									pager:false,
									nav: true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							  </script>
							<!--//End-slider-script-->
						<div class="clearfix"> </div>
					</div>
<div class="col-xs-6 about-text">
					    <p><strong><i>LITTLE SOLDIER</i></strong> is established in 1992 at D-6 HIG colony A.B Road behind press complex which is in the main city, easily approchable and a very safe locality with safe transport facility, with a vision to provide strong foundation of inspiring next generation citizens of india.</p>
						 <p>The little ones find a home outside their home as we provide a homely ambience at our school. This instills a sense of security in the children who could otherwise feel uncomfortable in the unknown surroundings of a new environment.</p>
						<span>Our curriculum aims at sharpening and developing the skills required for all round personal development of the child. The concept of education in our school is <b><i>"learning while playing"</i></b></span>

					</div></div>
					<div class="clearfix"></div>
				 </div></div>
			</div>

<!--start-slide-bottom-->
		<div class="slide-bottom">
			<div class="slide-bottom-grids">
				 <div class="container">
					<div class="row">
					 <div class="col-md-6 slide-bottom-grid">
							<h3>Welcome!</h3>
							<p><i>Little Soldiers, a pre-school was born with the desire to nurture the child and lay a foundation for a learned society.Let them be LITTLE
								fill their hearts with LAUGHTER
								help them grow WINGS, nurture their sense of WONDER,inspire them to BELIEVE, LOVE them like there's no Tomorrow.</i></p>
					 </div>
					 <div class="col-md-6 slide-bottom-grid">
					       <h3>Our Mission</h3>
						   <p><i>To be a leader in Preschool Education and Daycare, provide children “a home-away-from-home“ to give them “best-in-class” environment to optimize their Potential. We at Little Soldier School aims at an all round development of the students in our school.</i></p>
					 </div></div>
					 <div class="clearfix"></div>  
				 </div></div>
			 </div>

<div class="member-section">
			<div class="container">
				<div class="member-head">
						<h3>Our Members</h3>
					   <p>2015 Board Members</p>
					   </div>
			      <div class="members">
<p>                                                 
					   <div class="col-xs-4 member-grids">
                              <a href="#"> <img src="assets/m2.jpg" class="img-responsive" alt="" /></a>
								<h5>President</h5>
								<p></p>
							</div>

							<div class="col-xs-4 member-grids">
								<a href="#"> <img src="assets/m3.jpg" class="img-responsive" alt="" /></a>
								<h5>Vice President</h5>
								<p></p>

							</div>
							<div class="col-xs-4 member-grids">
								<a href="#"> <img src="assets/m1.jpg" class="img-responsive" alt="" /></a>
								<h5>Chief of Staff</h5>
								<p></p>
							</div>
</p> 
							<div class="clearfix"> </div>
					   </div>
				  </div>
			</div>
		</div>
<!--/mid-bg-->
	<div class="mid-bg">
		<div class="container">
			<div class="mid-section">
				 <h3>First Day at School!</h3>
				 <h4>ARE YOU READY ?</h4>
				 <p></p>
			</div>
		</div>
	</div>

