
<!--- //End-slider-->
<!---start-slide-bottom-->
			<div class="about-section">
				 <div class="container">
				     <div class="about-head">
							<h3 style="text-transform:initial">About Us</h3>
							<p>A Few words about us</p>
					 </div>
				      	<div class="slide-about">
									<div class="side">
										 <div  id="top" class="callbacks_container">
												<ul class="rslides" id="slider4">
														<li>
														<img src="assets/about1.png" class="img-responsive" alt="" />
														</li>
														<li>
														<img src="assets/about2.png" class="img-responsive" alt="" />
														</li>
														<li>
															<img src="assets/about3.png" class="img-responsive" alt="" />
														</li>
													 </ul>
												</div>
											</div>
								<script src="js/responsiveslides.min.js"></script>
							 <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider4").responsiveSlides({
									auto: true,
									pager:false,
									nav: true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							  </script>
							<!--//End-slider-script-->
						<div class="clearfix"> </div>
					</div>
<div class=" about-text" >
					    <p style="text-transform:initial;margin-left:550px"><strong><i style="text-transform:initial">LITTLE SOLDIER</i></strong> is established in 1992 at D-6 HIG colony A.B Road behind Press Complex which is in the main city, easily approachable and a very safe locality with convenient transport facility, with a vision to provide strong foundation of inspiring next generation citizens of india.</p>
						 <p style="text-transform:initial">The little ones find a home outside their home as we provide a homely ambience at our school. This instills a sense of security in the children who could otherwise feel uncomfortable in the unknown surroundings of a new environment.</p>
						<span style="text-transform:initial">Our curriculum aims at sharpening and developing the skills required for all round personal development of the child. The concept of education in our school is <b><i>"learning while playing"</i></b></span>

					</div></div>
					<div class="clearfix"></div>
				 </div></div>
			</div>

<!--start-slide-bottom-->
		<div class="slide-bottom">
			<div class="slide-bottom-grids">
				 <div class="container">
					<div class="row">
					 <div class="col-md-5 slide-bottom-grid"style="margin-left:10px">
							<h3 style="text-transform:initial">Welcome!</h3>
							<p><b style="text-transform:initial">Little Soldier</b>, a pre-school was formed with the desire to nurture the child and lay a foundation for a learned society.Let them be <b>Little</b>
                fill their hearts with <b>Laughter</b>,
                help them grow <b>Wings</b>, nurture their sense of <b>Wonder</b>,inspire them to <b>Believe</b>, love them like there's no <b>Tomorrow</b>.</p>
					 </div>
					 <div class="col-md-5 slide-bottom-grid"style="margin-left:100px">
					       <h3 style="text-transform:initial">Our Mission</h3>
						   <p style="text-transform:initial">To be a leader in Preschool Education and Daycare, provide children <b>“a home-away-from-home“</b> to give them <b>“best-in-class”</b> environment to optimize their Potential. We at Little Soldier School aim at an all round development of the students in our school.</p>
					 </div></div>
					 <div class="clearfix"></div>  
				 </div></div>
			 </div>

<div class="member-section">
			<div class="container">
				<div class="member-head">
						<h3 style="text-transform:initial">Our Members</h3>
					   <p>2015 Board Members</p>
					   </div>
			      <div class="members">
					   <div class="col-md-3 member-grids">
                              <a href="#"> <img src="assets/t1.png" class="img-responsive" alt="" /></a>
								<h5>PRINCIPAL</h5>
								
							</div>
							<div class="col-md-6 member-grids" >
								<a href="#"> <img src="assets/sff.png" class="img-responsive" style="height:289px;" alt="" /></a>
								<h5>STAFF MEMBERS</h5>
								

							</div>
							<div class="col-md-3 member-grids">
								<a href="#"> <img src="assets/t2.png" class="img-responsive" alt="" /></a>
								<h5>HEAD MISTRESS</h5>
								
							</div>
							<div class="clearfix"> </div>
					   </div>
				  </div>
			</div>
		</div>

<!--/mid-bg-->
 <footer style="background:url('assets/about-bg.jpg');margin-top:-20px;margin-bottom:-1px"class="container">
        <font color="white"> <div class="row">

         
        <div class="col-lg-4">
              <p>Copyright &copy; All Rights Reserved</p>
          </div>
          <div class="col-lg-offset-1 col-lg-4">
               <p>
                   <span class="col-sm-offset-2"><a href="/developers"><font color="white">Developer's Page</font></a>   <br /></span>
                  </font>
                </p>

          </div>
        </font>
        </div>
    </footer> 

    <!-- /.Footer -->
	

