
	<!--/contact-->
	<div class="contact">
	 	<div class="container">
					<div class="contact-head">
							<h3 style="text-transform:initial">Contact Us</h3>
							<p style="text-transform:initial">Keep in touch with us</p>
					 </div>
		<div class="contact-top">
		     <div class="col-md-4 contact-text">
				<div class="cont-grid">
					<div class="con-icon">
						<i class="loca"> </i>
					</div>
					<div style="text-transform:capitalize"class="con-text">
						<h4>MAIN SCHOOL</h4>
						<p>D-6, HIG Colony</p>
						<p>Behind Housing Complex</p>
						<p>Indore</p>
						<p>0731 2555514</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- <div class="cont-grid">
					<div class="con-icon">
						<i class="net"> </i>
					</div>
					<div class="con-text">
						<h4>SECONDARY SCHOOL</h4>
						<p>Myway 358, New York</p>
						<p>0009 123 456</p>
					</div>
					<div class="clearfix"> </div>
				</div> -->
				<div class="cont-grid">
					<div class="con-icon">
						<i class="mail"> </i>
					</div>
					<div class="con-text">
						<h4>M@IL US</h4>
						<p></p>
						<p>littlesoldier5555@gmail.com</p>
						<p>pinky.pahwa@gmail.com</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			     
			 </div>
			 <div style="margin-top:-60px"class="map col-md-8">
		 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.871614845!2d75.88975046335231!3d22.73778328235224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd50189bca15%3A0xb1984d7addaebbb1!2sD-6%2C+L+I+G+Colony%2C+Indore%2C+Madhya+Pradesh+452011!5e0!3m2!1sen!2sin!4v1444810766946" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
		 </div>
			 
			  <div class="clearfix"></div>
		</div>
	</div>
		

</div>
	<!--address-->
	<div style="margin-top:-15px"id="contact" class="address">
		<div class="col-md-6 address-left">
			 <div class="products">
				 <h3 style="text-transform:capitalize">Classes</h3>
				 <ul>
					 <li><a href="/">Sports</a></li>
					 <li><a href="/">Music</a></li>
					 <li><a href="/">Dance</a></li>
				 </ul>
			 </div>
			 <div class="company-adout">
				 <h3 style="text-transform:capitalize">Learn</h3>
				 <ul>
					 <li><a href="/about">About</a></li>
					 <li><a href="/about">Teacher</a></li>
					 <li><a href="/contact">Contact</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
			 <p style="text-transform:capitalize">Creativity itself doesn't care at all about results - the only thing it craves is the process. 
				Learn to love the process and let whatever happens next happen,without fussing too much about it</p>
		</div>
		<div class="col-md-5 address-right">
			<h3 style="text-transform:capitalize">Our Offices</h3>
			<p style="text-transform:capitalize">D-6, HIG Colony</p>
						<p style="text-transform:capitalize"style="text-transform:capitalize">Behind Housing Complex</p>
						<p style="text-transform:capitalize">Indore</p>
			<!-- s -->
			<ul>
				 <li>0731 2555514</li>
				 <li></li>
				 <li><a class="mail" href="mailto:a.thakur73.at@gmail.com">littlesoldier5555@gmail.com</a></li>
				 <li><a class="mail" href="mailto:a.thakur73.at@gmail.com">pinky.pahwa@gmail.com</a></li>
			</ul>
		</div>
		 <div class="clearfix"></div>
	</div>
	<!--//address-->
<br>
 <footer style="background:url('assets/about-bg.jpg');margin-top:-20px;margin-bottom:-1px"class="container">
        <font color="white"> <div class="row">

         
        <div class="col-lg-4">
              <p>Copyright &copy; All Rights Reserved</p>
          </div>
          <div class="col-lg-offset-1 col-lg-4">
               <p>
                   <span class="col-sm-offset-2"><a href="/developers"><font color="white">Developer's Page</font></a>   <br /></span>
                   </font>                </p>

          </div>
        </font>
        </div>
    </footer> 

    <!-- /.Footer -->		

