
	<!--/contact-->
	<div class="contact">
	 	<div class="container">
					<div class="contact-head">
							<h3>Contact Us</h3>
							<p>Keep in touch with us</p>
					 </div>
		<div class="contact-top">
		     <div class="col-md-5 contact-text">
				<div class="cont-grid">
					<div class="con-icon">
						<i class="loca"> </i>
					</div>
					<div class="con-text">
						<h4>MAIN SCHOOL</h4>
						<p>D-6, HIG Colony</p>
						<p>Behind Housing Board Complex</p>
						<p>Indore</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- <div class="cont-grid">
					<div class="con-icon">
						<i class="net"> </i>
					</div>
					<div class="con-text">
						<h4>SECONDARY SCHOOL</h4>
						<p>Myway 358, New York</p>
						<p>0009 123 456</p>
					</div>
					<div class="clearfix"> </div>
				</div> -->
				<div class="cont-grid">
					<div class="con-icon">
						<i class="mail"> </i>
					</div>
					<div class="con-text">
						<h4>M@IL US</h4>
						<p></p>
						<p>0009 123 456</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			     
			 </div>
			 
			  <div class="clearfix"></div>
		</div>
	</div>
		<div class="map">
		 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.871614845!2d75.88975046335231!3d22.73778328235224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd50189bca15%3A0xb1984d7addaebbb1!2sD-6%2C+L+I+G+Colony%2C+Indore%2C+Madhya+Pradesh+452011!5e0!3m2!1sen!2sin!4v1444810766946" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		 </div>

</div>
	<!--address-->
	<div id="contact" class="address">
		<div class="col-md-6 address-left">
			 <div class="products">
				 <h3>Classes</h3>
				 <ul>
					 <li><a href="/">Sports</a></li>
					 <li><a href="/">Music</a></li>
					 <li><a href="/">Dance</a></li>
				 </ul>
			 </div>
			 <div class="company-adout">
				 <h3>Learn</h3>
				 <ul>
					 <li><a href="/about">About</a></li>
					 <li><a href="/about">Teacher</a></li>
					 <li><a href="/contact">Contact</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
			 <p>Creativity itself doesn't care at all about results - the only thing it craves is the process. 
				Learn to love the process and let whatever happens next happen,<span>
				without fussing too much about it</span></p>
		</div>
		<div class="col-md-5 address-right">
			<h3>Our Offices</h3>
			<p>D-6, HIG Colony</p>
						<p>Behind Housing Board Complex</p>
						<p>Indore</p>
			<!-- <ul class="bottom">
				 <li>009 Street view, Office 21 4563 Paris</li>
				 <li>00 123 456 78</li>
			</ul> -->
			<ul>
				 <li>123, new street, 129907 New Yark</li>
				 <li>023 456 23456</li>
				 <li><a class="mail" href="mailto:a.thakur73.at@gmail.com">123 int@example.com</a></li>
			</ul>
		</div>
		 <div class="clearfix"></div>
	</div>
	<!--//address-->

		

