
        <div style="background-color:lightblue"class="container">
            <div class="row">
                <div style="text-transform:capitalize"class="col-lg-12 text-center">
                    <h2 class="section-heading">About Developers</h2>
                    <h3 class="section-subheading text-muted">The Development Team That Contributed In The Development Of Little Soldier's Website</h3>
                </div>
            </div>
            <div class="row">
                <h1 style="margin-left:60px;text-transform:capitalize"class="page-header">Development Team
                </h1>
                <hr style="border-top: 2px dotted grey"/>
                <div class="col-md-offset-4 col-md-4 text-center">
                        <center><img class="img-responsive" src="assets/shaligram-prajapat.jpg" alt=""></center>
                        <div  class="caption">
                            <center><h3>Prof. Shaligram Prajapat <br>
                                <small>Project Manager</small>
                            </h3></center>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <!-- row -->
           
            <div class="row">    
                <div class="col-md-offset-1 col-md-4 text-center">
                        <img class="img-responsive img-circle" src="assets/aditi.jpg" alt="">
                        <div class="caption">
                            <h3 style="margin-left:-160px">Aditi Thakur<br>
                                <small>Front-End Designer</small>
                            </h3>
                            <ul style="margin-left:-150px"  class="list-inline">
                                <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                </li>
                            </ul>
                        </div>    
                </div>
                <div class="col-md-offset-3 col-md-4 text-center">
                        <img  class="img-responsive img-circle" style="height=200px; width=200px; border-radius=50%" src="assets/me.jpg" alt="">
                        <div class="caption">
                            <h3 style="margin-left:-150px" >Swapnil Dongre<br>
                                <small>Lead Developer</small>
                            </h3>
                            <ul style="margin-left:-150px" class="list-inline">
                                <li><a href="#"><i class="fa fa-2x fa-github-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <!-- /.row -->
        </div><br>
    