
<!--gallery-->
<div class="gallery services">
		<div class="container">
				   <div class="gallery-head">
							<h3>Gallery</h3>
							<p>Our kids Gallery</p>
					 </div>
			<div class="portfolio-bottom">
				<div class="gallery-one two">
					<div class="col-md-4 gallery-left two">
						<a href="assets/im2.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im2.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/im3.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im3.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/im4.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im4.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/im5.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im5.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/im6.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im6.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/im6.JPG" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/im7.JPG" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g2.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g5.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g5.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/n3.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/n3.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
