
<!--gallery-->
<div class="gallery services">
		<div class="container" >
				   <div class="gallery-head" >
							<h3 style="text-transform:initial">Gallery</h3>
							<p style="text-transform:initial">Our kids Gallery</p>
					 </div>
			<div class="portfolio-bottom">
				<div class="gallery-one two">
					<div class="col-md-4 gallery-left two">
						<a href="assets/g8.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g8.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g9.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g9.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g7.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g7.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g11.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g11.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g1.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g1.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g2.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g2.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g5.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g5.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g6.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g6.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="assets/g4.png" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="assets/g4.png" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <footer style="background:url('assets/about-bg.jpg');margin-top:-20px;margin-bottom:-1px"class="container">
        <font color="white"> <div class="row">

         
        <div class="col-lg-4">
              <p>Copyright &copy; All Rights Reserved</p>
          </div>
          <div class="col-lg-offset-1 col-lg-4">
               <p>
                   <span class="col-sm-offset-2"><a href="/developers"><font color="white">Developer's Page</font></a>   <br /></span>
                   </font>
                </p>

          </div>
        </font>
        </div>
    </footer> 

    <!-- /.Footer -->