

    

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" style="margin-top:20px">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('assets/im7.JPG');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/1.JPG');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/2.JPG');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    
                </h1>
            </div>
            <div class="col-md-4" >
            <div style= "color: #f1f1f1;margin: 0 auto 10px auto;background-color: #FF9999;padding: 2px 5px;border: 1px solid #fafafa;border-radius: 15px;max-height: 300px; min-height: 300px;position: relative;overflow: hidden;" >
                
                    <center><h3 style="text-transform: capitalize;">Notices</h3></center>
                    
                
                <hr style="border-top: 2px dotted yellow"/>
                <marquee direction="down" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();"><% @notices.each do |notice| %>
                
                  <ul  style="text-transform: capitalize; margin-left:10px;">
                   <font color= "black"><li ><h5><%= notice.body %></h5></li></font></br>
                    <hr style="border-top: 2px solid white"/>
                  </ul>
              
              <% end %></marquee>
            </div>
        </div>


                <div class="col-md-4">
                    <div style= "color: #f1f1f1;max-height: 100px; min-height: 100px;background-color: #8FBC8F;border: 1px solid #8FBC8F;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                       <center><h3 style="text-transform: capitalize;">Upcoming Events</h3></center>
                    
                
                <hr style="border-top: 2px dotted yellow"/> 
                    </div>
                    <div style= "color: #f1f1f1;max-height: 200px; min-height: 200px;overflow:auto;background-color: #8FBC8F;border-bottom-left-radius: 15px;position:relative">
                
                    
                <nav>
                    <% @events.each do |event| %>
                        <ul class="nav nav-pills nav-stacked span2" style="text-transform: capitalize; margin-left:10px;">
                            <a data-toggle="collapse" href="#collapse1"><li class="reason"><%= event.ename %><p class="reasonText"><%= event.edesc %></p></li> </a></br>
                        </ul>
                        <% end %>
                        
                  </nav>
            </div>
            </div>
            <div class="col-md-4">
                <div style= "color: #f1f1f1;margin: 0 auto 10px auto;background-color:#CC99FF ;padding: 5px 10px;border: 1px solid #fafafa;border-radius: 15px;max-height: 300px; min-height: 300px;position: relative;overflow: hidden;">
                
                    <center><h3 style="text-transform: capitalize;">Regular Events</h3></center>
                    
                <hr style="border-top: 2px dotted yellow"/>
                <marquee direction="up" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();"><% @notices.each do |notice| %>
                
                  <ul  style="text-transform: capitalize; margin-left:10px;">
                   <font color= "black"><li ><h5><%= notice.body %></h5></li></font></br>
                    <hr style="border-top: 2px solid white"/>
                  </ul>
              
              <% end %></marquee>
            </div>
            </div>
        </div>
        <!-- /.row -->

        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('#myCarousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    <script>
$('.reasonText').hide(); //hide all the reason text
$('.reason').on('click', function() {
  $(this).children('.reasonText').slideToggle('slow');
})
</script>


<br>
