<h2 style="text-transform: capitalize; color:red"><b>Admission Process</b></h2>
					
					<br>


					<h4 style="text-transform: capitalize"><b>Documents Required:</b></h4>
					<ul style="text-transform: capitalize;margin-left:30px">
						<li>Photocopy of child's birth certificate</li>
						<li>Two Passport size photographs of the child</li>
					</ul>

                <div style="border:1px solid ;background-color:black"><marquee style="text-transform: capitalize; color:#39FF14"><i>"NO REGISTRATION FEE, NO CAUTION MONEY !!"</marquee></div><br>
				<center><h4 style="text-transform: capitalize"><b>Admission Criteria</b></h4></center>	
                 <hr style="border-top: 2px dotted grey"/>
                 <h4>Child must be between 2-5 years of age to take admission in the below levels:</h4>
                 <br>
                 
            
                 	
                 <table class="admission table table-striped" style="width:50%;float:left; border-left: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa;">
					    <thead>
					      <tr >
					        <th style="background-color:green;border-top-left-radius: 20px;text-transform: uppercase"><center>Level</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td ><center>Playgroup</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td ><center>Nursery</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td ><center>LKG/KG-1</center></td>
					        
					        
					      </tr>
					      <tr>
					        <td ><center>UKG/KG-2</center></td>
					        
					        
					      </tr>
					    </tbody>
				</table>
					  
					  
				<table class="admission table table-striped" style="width:50%; border-right: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;">
					    <thead>
					      <tr>
					        <th style="background-color:green;border-top-right-radius: 20px;text-transform: uppercase"><center>Age Group</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>2 & 2+</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><center>3 & 3+</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td><center>4 & 4+</center></td>
					        
					        
					      </tr>
					      <tr>
					        <td><center>5 & 5+</center></td>
					        
					        
					      </tr>
					    </tbody>
				</table>