<h2 style="text-transform: capitalize; color:red"><b>L.K.G (Lower Kindergarten)</b></h2>
					<br>
		
		<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;text-transform:initial"> In <i>Little Soldier </i><font color="grey">play school L.K.G. (Lower Kindergarten) program, we encourage children to look for peer relationships, to play cooperatively, to share, contribute, and to interact with others in a group to explore & create! In addition,to this L.K.G. consists of a vast array of lessons and learning, through companionship & numerous recreational activities. The syllabus is composed to stimulate and satisfy the child curosity. This level concentrates on developing further social skills while introducing Kindergarten activities in a fun, exciting and developing way. In addition to social development and inculcating good habits, social manners & etiquettes the lower kindergarten focuses on letter recognition and sounds, handwriting, sight words, reading, readiness, simple math concepts, and exploring the world around us through science, social studies and technology.</font></p><p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;text-transform:initial"><font color="grey"> This level concentrates on utilizing children curiosity and improves their social skills and social manners. All of our programs offer appropriate curriculum and each level builds on the previous one. </font></p>

	
                 <table class="admission table table-striped" style="width:33%;float:left; border-left: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa;">
					    <thead>
					      <tr >
					        <th style="background-color:green;border-top-left-radius: 20px;text-transform: uppercase"><center>Appropriate Age</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td ><center>4+ Years</center></td>
					       
					      
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					       
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>
					  
					  
				<table class="admission table table-striped" style="width:33%; border-right: 1px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;float:left;">
					    <thead>
					      <tr>
					        <th style="background-color:green;text-transform: uppercase"><center>Duration</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>9:30am-1:00pm</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><h2></h2>  </td>
					       
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

				<table class="admission table table-striped" style="width:33%; border-right: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;">
					    <thead>
					      <tr>
					        <th style="background-color:green;border-top-right-radius: 20px;text-transform: uppercase"><center>Activities</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>Creative Time</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><center>Concept Rooms</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td><center>Art & Craft time<center></td>
					        
					        
					      </tr>
					      <tr>
					        <td><center>Celebration of Festivals</center></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

