<h2 style="text-transform: capitalize; color:red"><b>Nursery</b></h2>
					<br>
		
		<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"> <font color="grey">The wonderful preschool memories begin in our classrooms. Where in nursery, we start by creating informal learning experiences that generates a positive foundation for preschool. We engage them with other kids at our preschools and together they explore toys, look at books, sing, play on puzzles etc. During the early childhood education, we teach them that school is a safe place to explore their world in many new & exciting ways. We have various activities to support our modern preschool curriculum including art and craft and the wonderful concept rooms. This introduces or reinforces fine social skills.
Songs, chants and dances reinforces pre-reading skills such as phonetics awareness and letter recognition.</font></p><p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey"> The pre-math skills of identifying and repeating patterns or directions as well as working with books like nursery rhymes and poems encourages familiarity with print, letter recognition and the beginning of phonetic awareness.
The cooking project introduces the pre-math skills of following multi-step instructions, counting and measuring. </font></p>

	
                 <table class="admission table table-striped" style="width:33%;float:left; border-left: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa;">
					    <thead>
					      <tr >
					        <th style="background-color:green;border-top-left-radius: 20px;text-transform: uppercase"><center>Appropriate Age</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td ><center>2+ Years</center></td>
					       
					      
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					       
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>
					  
					  
				<table class="admission table table-striped" style="width:33%; border-right: 1px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;float:left;">
					    <thead>
					      <tr>
					        <th style="background-color:green;text-transform: uppercase"><center>Duration</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>9:30am-1:00pm</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><h2></h2>  </td>
					       
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

				<table class="admission table table-striped" style="width:33%; border-right: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;">
					    <thead>
					      <tr>
					        <th style="background-color:green;border-top-right-radius: 20px;text-transform: uppercase"><center>Activities</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>Creative Time</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><center>Concept Rooms</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td><center>PT time<center></td>
					        
					        
					      </tr>
					      <tr>
					        <td><center>Toy Time</center></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

