<h2 style="text-transform: capitalize; color:red"><b>Playgroup</b></h2>
					<br>
		
		<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><i>Little soldier</i> <font color="grey">play school being one of the most prominent names in Play School presenters, we treat all children as per their uniqueness and specialty. We recognize that children whose basic emotional, social, spiritual and physical need are met and nurtured through the preschool years in levels like Playgroup, Nursery, L.K.G., U.K.G. they become ready and eager to learn the academics in elementary school. Consequently, we as a play schools make age-appropriate materials available in such a way that they learn while they are playing. The curriculum for each age level is based on thematic lessons. It is developed for every child to experience success. We encourage & support child’s self-initiated investigations so that they learn while doing or playing.</font></p>

        <p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey">Depending on the psychology that differs in every student at our Play School, we conduct age appropriate activity based learning. It majorly involves the following methods that make our approach unique for their student by:</font></p>
	
                 <table class="admission table table-striped" style="width:33%;float:left; border-left: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa;">
					    <thead>
					      <tr >
					        <th style="background-color:green;border-top-left-radius: 20px;text-transform: uppercase"><center>Appropriate Age</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td ><center>2+ Years</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					       
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>
					  
					  
				<table class="admission table table-striped" style="width:33%; border-right: 1px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;float:left;">
					    <thead>
					      <tr>
					        <th style="background-color:green;text-transform: uppercase"><center>Duration</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>2½ - 4 hours per day  </center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><h2></h2>  </td>
					       
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

				<table class="admission table table-striped" style="width:33%; border-right: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;">
					    <thead>
					      <tr>
					        <th style="background-color:green;border-top-right-radius: 20px;text-transform: uppercase"><center>Activities</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					    	<tr>
					        <td><center>Toy Time</center></td>
					        
					        
					      </tr>
					      <tr>
					        <td><center>Story Time</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><center>Sharing Habits</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td><center>Playing With Sand<center></td>
					        
					        
					      </tr>
					      
					    </tbody>
				</table>

