<h2 style="text-transform: capitalize; color:red"><b>School Essentials</b></h2>
					<br>
		
		<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey">The admission process begins with counseling and completes on the receipt of admission fees and making the entry into the admission record register.</font></p>

<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey">The parent may also take a school round and understand how the little ones are nurtured beautifully and care and love.</font></p>

<p style="
font-size: 12pt;text-align: justify;"><b>For more details on fee structure, visit our school </b></p>

<div style="border:1px solid ;background-color:black"><marquee style="text-transform: uppercase; color:#39FF14"><i>"Installment Facility available !!"</marquee></div><br>

<font color="grey"><ul style="text-transform: capitalize;font-size: 12pt;margin-left:30px">
						<li>Admission Form costs Rs 200/- .</li>
						<li>School-Uniform for Nursery, LKG & UKG</li>
						<li>Stationary including books are provided by school itself.</li>
						<li>Conveyence-Auto & Van facility available.</li>

					</ul></font>