<h2 style="text-transform: capitalize; color:red"><b>U.K.G (Upper Kindergarten)</b></h2>
					<br>
		
		<p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey">This U.K.G. (Upper Kindergarten) program, level organizes developmentally appropriate activities into many lessons and sessions designed to accomplish readiness for Kindergarten as well as further strengthen the children’s self-confidence and self-esteem. Our children get the opportunity to explore each lessons and learning sessions with the other children in U.K.G. Teachers encourage readiness to learn and question; utilization of the children’s developing sense of responsibility; and their interest in play, construction and simple games. Memory development visual discrimination, safety rules and sense of security are also an important area of development for a child in U.K.G. It focuses on orienting the child to develop self-confidence and honesty. At Bachpan, the upper kindergarten program offers a “kinder, gentler” approach for children who need an extra year to grow before entering a full day formal school..</font></p><p style="font-family: Roboto, arial, sans-serif;
font-size: 12pt;text-align: justify;"><font color="grey">Our UKG program encourages children to learn and question, it also encourage child to develop sense of responsibility and memory development. In addition to regular classroom activities and outdoor play, the children in the different levels of Bachpan go to different concept rooms.   </font></p>

	
                 <table class="admission table table-striped" style="width:33%;float:left; border-left: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa;">
					    <thead>
					      <tr >
					        <th style="background-color:green;border-top-left-radius: 20px;text-transform: uppercase"><center>Appropriate Age</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td ><center>5+ Years</center></td>
					       
					      
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					       
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td ><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>
					  
					  
				<table class="admission table table-striped" style="width:33%; border-right: 1px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;float:left;">
					    <thead>
					      <tr>
					        <th style="background-color:green;text-transform: uppercase"><center>Duration</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>9:30am-1:00pm</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><h2></h2>  </td>
					       
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					      <tr>
					        <td><h2></h2></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

				<table class="admission table table-striped" style="width:33%; border-right: 4px solid #fafafa;border-top: 4px solid #fafafa; border-bottom: 4px solid #fafafa; border-left: 1px solid #fafafa;">
					    <thead>
					      <tr>
					        <th style="background-color:green;border-top-right-radius: 20px;text-transform: uppercase"><center>Activities</center></th>
					        
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td><center>Dancing Time</center></td>
					        
					      
					      </tr>
					      <tr>
					        <td><center>Eating Habits</center></td>
					       
					        
					      </tr>
					      <tr>
					        <td><center>Learning Rhymes<center></td>
					        
					        
					      </tr>
					      <tr>
					        <td><center>Draw Your Imagination</center></td>
					        
					        
					      </tr>
					    </tbody>
				</table>

