<!DOCTYPE HTML>
<html>
<head>
<title>LittleSoldiersSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Primary School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />  
<script src="js/jquery.min.js"> </script>
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="box.css">
<script type="text/javascript" src="box.js"></script>

</head>
<body >
  <!--start-home-->
  <!----- start-header---->
  
      <div id="home" class="header two">
          <div class="top-header two"> 
          
            <div class="container">
            <div class="logo col-md-4" >
              <a href="/"><h1 style="text-transform:capitalize">LittleSoldier<span>School</span></h1></a>
            </div>
          <div class="top-menu">
              <span class="menu"> </span>
                <ul class="cl-effect-16">
                 <ul class="nav nav-pills">
                 <li role="presentation"><a  href="/" data-hover="Home">Home</a></li>


                <li role="presentation"><a href="about" data-hover="About">About</a></li>
                <li role="presentation"><a href="admision" data-hover="Admissions">Admissions</a></li>
                <li role="presentation"><a href="evnt" data-hover="Events">Events</a></li>
                <li role="presentation"><a href="gallery" data-hover="Gallery">Gallery</a></li>
                <!--<li><a href="404" data-hover="blog">Blog</a></li>-->
                <li role="presentation"><a href="contact" data-hover="Contact">Contact</a></li>
                  <div class="clearfix"></div>
                </ul>
                </ul>
              </div>
              <!-- script-for-menu -->
                <script>
                  $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                  });
                </script>
                <!-- script-for-menu -->
              <div class="clearfix"> </div>
          </div>
        </div>
          <div class="clearfix"> </div>
    </div>


<%= yield %>


     

</body>
</html>
