<!DOCTYPE HTML>
<html>
<head>
<title>LittleSoldiersSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!--//webfonts-->
</head>
<body>
  <!--start-home-->
  <!----- start-header---->
  
      <div id="home" class="header two">
          <div class="top-header two"> 
          
            <div class="container">
            <div class="logo">
              <a href="/"><h1>LITTLE SOLDIER<span>School</span></h1></a>
            </div>
          <div class="top-menu">
              <span class="menu"> </span>
                <ul class="cl-effect-16">
                 <ul class="nav nav-pills">
                 <li role="presentation"><a  href="/#" data-hover="Home">Home</a></li>


                <li role="presentation"><a href="about" data-hover="About">About</a></li>
                <li role="presentation"><a href="admision" data-hover="Admissions">Admissions</a></li>
                <li role="presentation"><a href="evnt" data-hover="Events">Events</a></li>
                <li role="presentation"><a href="gallery" data-hover="Gallery">Gallery</a></li>
                <!--<li><a href="404" data-hover="blog">Blog</a></li>-->
                <li role="presentation"><a href="contact" data-hover="Contact">Contact</a></li>
                  <div class="clearfix"></div>
                </ul>
                </ul>
              </div>
              <!-- script-for-menu -->
                <script>
                  $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                  });
                </script>
                <!-- script-for-menu -->
              <div class="clearfix"> </div>
          </div>
        </div>
          <div class="clearfix"> </div>
    </div>


<%= yield %>

</body>
</html>
